@import '~angular/material/theming';

@mixin mm-editable-text-typography($config-or-theme) {
  $config: mat-get-typography-config($config-or-theme);

  mm-editable-text {
    font: {
      family: mat-font-family($config, body);
    }
  }
}
