<div class="row" *ngIf="pairingsExist">
  <div class="col-xs-12">
    <mm-pairings-list-form
      (filterTextChanged)="filterTextChanged($event)">
    </mm-pairings-list-form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Table</th>
          <th>Player 1</th>
          <th>Player 1 Result</th>
          <th>Player 2</th>
          <th>Player 2 Result</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pairing of pairings | pairingsFilter: playerEntities:filterText"
            [ngClass]="{'active': selectedPairingId === pairing.table}"
            (click)="selectPairing.emit(pairing.id)">
          <td>{{pairing.table}}</td>
          <td>{{playerEntities[pairing.player1Id].name}}</td>
          <td>{{resultDisplayString(pairing)}}</td>
          <td>{{pairing.player2Id == null ? '***Bye***' : playerEntities[pairing.player2Id].name}}</td>
          <td>{{resultDisplayString(pairing, true)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
