<ul class="nav nav-pills nav-stacked">
  <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/swiss">Players <span class="badge" *ngIf="numberOfActivePlayers > 0">{{numberOfActivePlayers}}</span></a>
  </li>
  <li role="presentation" routerLinkActive="active" *ngIf="hasTournamentStarted">
    <a routerLink="/swiss/event">Event Info</a>
  </li>
  <li role="presentation" routerLinkActive="active" *ngIf="hasTournamentStarted">
    <a routerLink="/swiss/pairings">Pairings</a>
  </li>
  <li role="presentation" routerLinkActive="active" *ngIf="hasCompletedRounds">
    <a routerLink="/swiss/standings">Standings</a>
  </li>
</ul>
