@mixin body-margins($margin-height) {
  // margin-top: $margin-height;
  margin-bottom: $margin-height;
}

@mixin fixed-toolbar() {
  position: fixed;
  width: 100%;
}

:host {
  min-height: 100vh;

  .footer {
    @include fixed-toolbar();
    bottom: 0;
    z-index: 8;
  }

  .header {
    @include fixed-toolbar();
    top: 0;
    z-index: 4;
  }

  .players-list {
    @include body-margins(64px);

    @media (max-width: 599px) {
      @include body-margins(56px);
    }
  }
}
