@use 'abstracts/functions' as *;

:host {
  display: block;
  border-radius: sp-size-to-rem(12);
  padding: {
    left: sp-size-to-rem(16);
    right: sp-size-to-rem(16);
  }
  margin: sp-size-to-rem(8);
  background-color: var(--mm-color-surface-variant);
  color: var(--mm-color-on-surface-variant);

  &:hover {
    box-shadow: 0 3px 1px -2px var(--mm-color-shadow);
  }
}
