.container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: {
    left: 16px;
    right: 16px;
  }
  margin: 8px;
  background-color: var(--mm-sys-color-surface-variant);
}
