@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mirror-match-primary: mat-palette($mat-indigo);
$mirror-match-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mirror-match-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
// $mirror-match-theme: mat-light-theme($mirror-match-primary, $mirror-match-accent, $mirror-match-warn);
$mirror-match-theme: mat-light-theme((
  color: (
    primary: $mirror-match-primary,
    accent: $mirror-match-accent,
    warn: $mirror-match-warn
  )
));

$toolbar-height-desktop: 64px;
$toolbar-height-mobile: 56px;
$breakpoint-small: 600px;
