$background: rgba(0, 0, 0, 0.32);

:host {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 16;

  .backdrop {
    background: $background;
    pointer-events: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
