header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  mat-toolbar {
    .nav-row {
      height: auto;
      padding: 0;

      nav {
        width: 100%;

        a {
          flex: 1;
        }

        .mat-tab-label-active {
          opacity: 1;
        }
      }
    }
  }
}
