<mm-players-list-item
  #test
  *ngFor="let player of players"
  [playerName]="player.name"
  (click)="test.startEditing()"
  (cleared)="onCleared(player)"
  (doneEditing)="onPlayerEdited(player, $event)"
>
  <!-- <mm-editable-text
    [editing]="editingPlayer == player"
    [text]="player.name"
    (cleared)="onCleared(player)"
    (doneEditing)="onPlayerEdited(player, $event)"
  ></mm-editable-text> -->
</mm-players-list-item>
<mm-players-list-item *ngIf="adding">
  <mm-editable-text
    [editing]="true"
    (doneEditing)="createNewPlayer($event)"
  ></mm-editable-text>
</mm-players-list-item>
