<mm-players-list-item
  #listItem
  *ngFor="let player of players"
  [playerName]="player.name"
  (click)="listItem.startEditing()"
  (cleared)="onCleared(player)"
  (doneEditing)="onPlayerEdited(player, $event)"
></mm-players-list-item>
<!-- <mm-players-list-item *ngIf="adding">
  <mm-editable-text
    [editing]="true"
    (doneEditing)="createNewPlayer($event)"
  ></mm-editable-text>
</mm-players-list-item> -->
<mm-new-player-list-item
  *ngIf="isAdding"
  (cancel)="isAdding = false"
  (newPlayer)="createPlayer.emit($event)"
></mm-new-player-list-item>
