@use 'sass:map';
// @use '../abstracts/main' as *;

:root {
  // @include typescale_tokens(title-large, brand, 28, 22, 0, regular);
  // @include typescale_tokens(title-medium, plain, 24, 16, 0.15, medium);
  // @include typescale_tokens(title-small, plain, 20, 14, 0.1, medium);

  --mm-sys-elevation-surface-1: 0.05;
  --mm-sys-elevation-surface-2: 0.08;
  --mm-sys-elevation-surface-3: 0.11;
  --mm-sys-elevation-surface-4: 0.12;
  --mm-sys-elevation-surface-5: 0.14;
}
