@use 'sass:map';
@use 'variables' as *;
@use 'functions' as *;

@mixin typescale($typescale-map) {
  $size: map.get($typescale-map, 'size');
  font-size: sp-size-to-rem($size);
  line-height: sp-size-to-rem(map.get($typescale-map, 'line-height'));
  letter-spacing: letter-spacing(map.get($typescale-map, 'tracking'), $size);
  font: {
    family: map.get($typeface, map.get($typescale-map, 'family'));
    weight: map.get($typeface, map.get($typescale-map, 'weight'));
  }
}
