@use 'sass:map';

$palette: (
  'primary': (
    100: #ffffff,
    99: #fdfbff,
    95: #eff0ff,
    90: #dbe1ff,
    80: #b5c4ff,
    70: #91a7fd,
    60: #768ce0,
    50: #5c72c4,
    40: #4259a9,
    30: #284190,
    20: #0a2979,
    10: #001453,
    0: #000000,
  ),
  'secondary': (
    100: #ffffff,
    99: #fdfbff,
    95: #eff0ff,
    90: #dee1f9,
    80: #c2c5dd,
    70: #a6aac1,
    60: #8c90a6,
    50: #72768b,
    40: #595d71,
    30: #424659,
    20: #2b2f42,
    10: #161b2c,
    0: #000000,
  ),
  'tertiary': (
    100: #ffffff,
    99: #fcfcfc,
    95: #ffebf9,
    90: #ffd7f7,
    80: #e3bbda,
    70: #c69fbe,
    60: #ab85a3,
    50: #906c89,
    40: #75546f,
    30: #5c3d57,
    20: #43273f,
    10: #2b1229,
    0: #000000,
  ),
  'neutral': (
    100: #ffffff,
    99: #fefbff,
    95: #f3f0f5,
    90: #e4e2e6,
    80: #c7c5ca,
    70: #acaaae,
    60: #919094,
    50: #77767a,
    40: #5e5e62,
    30: #46464a,
    20: #303033,
    10: #1b1b1f,
    0: #000000,
  ),
  'neutral-variant': (
    100: #ffffff,
    99: #fdfbff,
    95: #f1f0fb,
    90: #e2e1ec,
    80: #c6c6d0,
    70: #aaaab4,
    60: #909099,
    50: #76767f,
    40: #5d5e67,
    30: #45464e,
    20: #2f3038,
    10: #1a1b23,
    0: #000000,
  ),
  'error': (
    100: #ffffff,
    99: #fcfcfc,
    95: #ffede9,
    90: #ffdad4,
    80: #ffb4a9,
    70: #ff897a,
    60: #ff5449,
    50: #dd3730,
    40: #ba1b1b,
    30: #930006,
    20: #680003,
    10: #410001,
    0: #000000,
  ),
);

$shadow-color: map.get($palette, 'neutral', 0);

$state: (
  'hover': (
    'state-layer-opacity': 0.08,
  ),
  'focus': (
    'state-layer-opacity': 0.12,
  ),
  'pressed': (
    'state-layer-opacity': 0.12,
  ),
  'dragged': (
    'state-layer-opacity': 0.16,
  ),
);

$typeface: (
  'family': (
    'brand': (
      Roboto,
      sans-serif,
    ),
    'plain': (
      Roboto,
      sans-serif,
    ),
  ),
  'weight': (
    'regular': 400,
    'medium': 500,
  ),
);

$typescale: (
  'display': (
    'large': (
      'line-height': 64,
      'size': 57,
      'tracking': 0,
      'family': 'brand',
      'weight': 'regular',
    ),
    'medium': (
      'line-height': 52,
      'size': 45,
      'tracking': 0,
      'family': 'brand',
      'weight': 'regular',
    ),
    'small': (
      'line-height': 44,
      'size': 36,
      'tracking': 0,
      'family': 'brand',
      'weight': 'regular',
    ),
  ),
  'headline': (
    'large': (
      'line-height': 40,
      'size': 32,
      'tracking': 0,
      'family': 'brand',
      'weight': 'regular',
    ),
    'medium': (
      'line-height': 36,
      'size': 28,
      'tracking': 0,
      'family': 'brand',
      'weight': 'regular',
    ),
    'small': (
      'line-height': 32,
      'size': 24,
      'tracking': 0,
      'family': 'brand',
      'weight': 'regular',
    ),
  ),
  'title': (
    'large': (
      'line-height': 28,
      'size': 22,
      'tracking': 0,
      'family': 'brand',
      'weight': 'regular',
    ),
    'medium': (
      'line-height': 24,
      'size': 16,
      'tracking': 0.15,
      'family': 'plain',
      'weight': 'medium',
    ),
    'small': (
      'line-height': 20,
      'size': 14,
      'tracking': 0.1,
      'family': 'plain',
      'weight': 'medium',
    ),
  ),
  'label': (
    'large': (
      'line-height': 20,
      'size': 14,
      'tracking': 0.1,
      'family': 'plain',
      'weight': 'medium',
    ),
    'medium': (
      'line-height': 16,
      'size': 12,
      'tracking': 0.5,
      'family': 'plain',
      'weight': 'medium',
    ),
    'small': (
      'line-height': 16,
      'size': 11,
      'tracking': 0.5,
      'family': 'plain',
      'weight': 'medium',
    ),
  ),
  'body': (
    'large': (
      'line-height': 24,
      'size': 16,
      'tracking': 0.5,
      'family': 'plain',
      'weight': 'medium',
    ),
    'medium': (
      'line-height': 20,
      'size': 14,
      'tracking': 0.25,
      'family': 'plain',
      'weight': 'regular',
    ),
    'small': (
      'line-height': 16,
      'size': 12,
      'tracking': 0.4,
      'family': 'plain',
      'weight': 'regular',
    ),
  ),
);
