<div class="row" *ngIf="pairings.length > 0">
  <div class="col-xs-12">
    <form class="form-horizontal" [formGroup]="pairingsListForm">
      <div class="form-group">
        <div class="col-xs-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="showOutstandingOnly"> Show Outstanding Only
            </label>
          </div>
        </div>
      </div>
    </form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Table</th>
          <th>Player 1</th>
          <th>Player 1 Result</th>
          <th>Player 2</th>
          <th>Player 2 Result</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pairing of pairings | outstandingPairings:pairingsListForm.get('showOutstandingOnly').value"
            [ngClass]="{'active': this.activePairing === pairing}"
            (click)="selectPairing(pairing)">
          <td>{{pairing.table}}</td>
          <td>{{pairing.player1.name}}</td>
          <td>{{resultDisplayString(pairing)}}</td>
          <td>{{pairing.player2.name}}</td>
          <td>{{resultDisplayString(pairing, true)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<mm-match-results [activePairing]="this.activePairing" (onSubmit)="onSubmit()"></mm-match-results>
