<div class="row" *ngIf="pairingsExist">
  <div class="col-xs-12">
    <form class="form-horizontal" [formGroup]="pairingsListForm">
      <div class="form-group">
        <div class="col-xs-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="showOutstandingOnly"> Show Outstanding Only
            </label>
          </div>
        </div>

        <label for="pairings-search" class="col-xs-1 control-label">Search</label>
        <div class="col-xs-3">
          <input type="text"
              id="pairings-search"
              class="form-control"
              placeholder="Player name or table number"
              formControlName="pairingsSearch">
        </div>

        <div class="col-xs-5">
          <button type="button"
              class="btn btn-default pull-right"
              [disabled]="selectedRoundComplete"
              (click)="deleteResults()">
            Delete Results
          </button>

          <button type="button"
              class="btn btn-default pull-right redo-matches"
              [disabled]="selectedRoundHasSubmittedPairings"
              (click)="redoMatches()">
            Redo Matches
          </button>
        </div>
      </div>
    </form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Table</th>
          <th>Player 1</th>
          <th>Player 1 Result</th>
          <th>Player 2</th>
          <th>Player 2 Result</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pairing of filteredPairings"
            [ngClass]="{'active': selectedPairing === pairing}"
            (click)="selectPairing(pairing)">
          <td>{{pairing.table}}</td>
          <td>{{pairing.player1.name}}</td>
          <td>{{resultDisplayString(pairing)}}</td>
          <td>{{pairing.bye ? '***Bye***' : pairing.player2.name}}</td>
          <td>{{resultDisplayString(pairing, true)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<mm-match-results [selectedPairing]="selectedPairing"></mm-match-results>
