<form class="form-horizontal" [formGroup]="pairingsForm">
  <div class="form-group">
    <label for="selected-round" class="control-label col-sm-2">Round</label>
    <div class="col-sm-2">
      <select id="selected-round" class="form-control" formControlName="currentRound">
        <option *ngFor="let round of rounds" [value]="round">{{round}}</option>
      </select>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-default" *ngIf="!activeRoundPairingsExist" (click)="generatePairings()">Generate Pairings</button>
    </div>
  </div>
</form>
<mm-pairings-list [roundNumber]="this.pairingsForm.value.currentRound"></mm-pairings-list>
