<div class="swiss-page">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" routerLinkActive="active">
            <a routerLink="/swiss/players">Players <span class="badge" *ngIf="numberOfActivePlayers > 0">{{numberOfActivePlayers}}</span></a>
          </li>
          <li role="presentation" routerLinkActive="active" *ngIf="hasTournamentBegun">
            <a routerLink="/swiss/event">Event Info</a>
          </li>
          <li role="presentation" routerLinkActive="active" *ngIf="hasTournamentBegun">
            <a routerLink="/swiss/pairings">Pairings</a>
          </li>
          <li role="presentation" routerLinkActive="active" *ngIf="hasCompletedRounds">
            <a routerLink="/swiss/standings">Standings</a>
          </li>
        </ul>
      </div>

      <div class="col-md-10">
        <div class="alert alert-dismissible" [ngClass]="message.type" role="alert" *ngFor="let message of messages">
          <button type="button" class="close" aria-label="Close" (click)="dismissMessage(message)">
            <span aria-hidden="true">&times;</span>
          </button>
          {{message.message}}
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
