<div class="row">
  <div class="col-sm-6">
    <mm-swiss-player-form
      [hasBegunTournament]="hasBegunTournament$ | async"
      [isTournamentOver]="isTournamentOver$ | async"
      [selectedPlayer]="selectedPlayer"
      (addPlayer)="addPlayer($event)"
      (playerFormReset)="clearSelectedPlayer()"
      (updatePlayer)="updatePlayer($event)"></mm-swiss-player-form>
    <mm-swiss-players-start></mm-swiss-players-start>
  </div>

  <div class="col-sm-6">
    <mm-swiss-player-list [selectedPlayer]="selectedPlayer" (playerSelected)="onPlayerSelected($event)"></mm-swiss-player-list>
  </div>
</div>
