<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Match Points</th>
        <th>Matches Play/Win/Draw/Bye</th>
        <th>Opponent Match Win %</th>
        <th>Game Win %</th>
        <th>Opponent Game Win %</th>
      </tr>
      <tr *ngFor="let player of standings; let i = index;">
        <td>{{i + 1}}</td>
        <td>{{player.name}}</td>
        <td>{{player.matchPoints}}</td>
        <td>{{player.matchesPlayed}}/{{player.matchesWon}}/{{player.matchesDrawn}}/{{player.byes}}</td>
        <td>{{player.opponentMatchWinPercentage}}</td>
        <td>{{player.gameWinPercentage}}</td>
        <td>{{player.opponentGameWinPercentage}}</td>
      </tr>
    </table>
  </div>
</div>
