<div class="swiss-page">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" routerLinkActive="active">
            <a routerLink="/swiss/players">Players</a>
          </li>
          <li role="presentation" routerLinkActive="active" *ngIf="hasTournamentBegun">
            <a routerLink="/swiss/pairings">Pairings</a>
          </li>
          <li role="presentation" routerLinkActive="active" *ngIf="hasCompletedRounds">
            <a routerLink="/swiss/standings">Standings</a>
          </li>
        </ul>
      </div>

      <div class="col-md-10">
        <div class="alert" [ngClass]="message.type" role="alert" *ngFor="let message of messages">
          {{message.message}}
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
