<h2 mat-dialog-title>Edit player</h2>
<mat-dialog-content>
  <section class="mb-2">
    <mat-form-field>
      <input matInput type="text" placeholder="Name" [formControl]="name" required>
      <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </section>
  <section class="mb-2">
    <mat-slide-toggle color="warn" [formControl]="dropped">Dropped</mat-slide-toggle>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="text-uppercase" mat-dialog-close color="primary">Cancel</button>
  <button mat-button class="text-uppercase" [mat-dialog-close]="{name: name.value, dropped: dropped.value}" color="primary" [disabled]="isNameEmpty() || name.invalid">Save</button>
</mat-dialog-actions>
