<mat-toolbar class="mat-elevation-z5" color="primary">
  <mat-toolbar-row>
    <h1>Mirror Match</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <nav mat-tab-nav-bar [color]="primary">
      <a mat-tab-link routerLink="/setup">
        Setup
      </a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/" class="navbar-brand">Mirror Match</a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
          <a routerLink="/setup" class="nav-link">Setup</a>
      </li>
    </ul>
  </div>
</nav> -->
