@use 'sass:map';
@use '../abstracts/variables' as *;

:root {
  --mm-color-primary: #{map.get($palette, 'primary', 40)};
  --mm-color-surface: #{map.get($palette, 'neutral', 99)};
  --mm-color-surface-variant: #{map.get($palette, 'neutral-variant', 90)};
  --mm-color-on-surface: #{map.get($palette, 'neutral', 10)};
  --mm-color-shadow: #{map.get($palette, 'neutral', 0)};

  @media screen and (prefers-color-scheme: dark) {
    --mm-color-primary: #{map.get($palette, 'primary', 80)};
    --mm-color-surface: #{map.get($palette, 'neutral', 10)};
    --mm-color-surface-variant: #{map.get($palette, 'neutral-variant', 30)};
    --mm-color-on-surface: #{map.get($palette, 'neutral', 90)};
  }
}
