<div class="row">
  <div class="col-sm-6">
    <div class="form-horizontal panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          <label for="player-name" class="col-sm-4 control-label">Name:</label>
          <div class="col-sm-8">
            <input class="form-control" id="player-name" placeholder="Name" [(ngModel)]="playerName">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-2">
            <button class="btn btn-default" [disabled]="!playerName?.trim()" (click)="addPlayer()">Add Player</button>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label for="rounds" class="col-sm-4 control-label">Rounds:</label>
          <div class="col-sm-3">
            <input type="number" class="form-control" id="rounds" [(ngModel)]="numberOfRounds">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-2">
            <button class="btn btn-default">Begin Event</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <ul class="list-group">
      <li *ngFor="let player of players" class="list-group-item" (click)="selectPlayer(player)">
        {{player.name}}
        <button class="close" (click)="deletePlayer(player)">&times;</button>
      </li>
    </ul>
  </div>
</div>
