@use '~@angular/material' as mat;
@import 'themes/color';
@import 'themes/typography';

$background: map-get($mirror-match-color, 'background');
$foreground: map-get($mirror-match-color, 'foreground');
$primary: map-get($mirror-match-color, 'primary');
$warn: map-get($mirror-match-color, 'warn');

:host {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  font: {
    family: mat.font-family($mirror-match-typography, 'subheading-2');
    size: mat.font-size($mirror-match-typography, 'subheading-2');
    weight: mat.font-weight($mirror-match-typography, 'subheading-2');
  }

  input {
    background-color: transparent;
    border: none;
    font: inherit;
    outline: none;
    padding: 0;
    width: 100%;

    &.ng-invalid {
      color: mat.get-color-from-palette($warn);
    }
  }

  .delete-icon {
    color: mat.get-color-from-palette($foreground, 'icon');
    display: none;
  }

  .icon {
    color: mat.get-color-from-palette($foreground, 'icon');
    margin-right: 32px;
  }

  .mat-icon-button {
    height: 24px;
    line-height: 24px;
    width: 24px;
  }

  .player-name {
    flex: 1;
  }

  &:focus,
  &:hover,
  &.editing {
    background: mat.get-color-from-palette($background, 'hover');

    .delete-icon {
      display: block;
    }
  }
}
