<div class="icon">
  <mat-icon
    aria-hidden="true"
    color="{{ selected && name.invalid ? 'warn' : '' }}"
  >
    {{ selected && name.invalid ? 'error' : 'person' }}
  </mat-icon>
</div>
<div class="player-name">
  <span *ngIf="!selected">{{ player?.name }}</span>
  <input
    #nameInput
    type="text"
    *ngIf="selected"
    [formControl]="name"
    (blur)="onBlur($event)"
    (keyup)="onKeyup($event)"
  />
</div>
<div class="delete-icon">
  <button mat-icon-button class="testmm" (click)="onDeletePlayer()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
