@use 'sass:color';
@use 'sass:math';

$height: 40px;
$border-radius: math.div($height, 2);

:host {
  display: inline-flex;

  button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    flex: 1;
    height: $height;
    justify-content: center;
    outline: solid 1px var(--md-sys-color-outline);
    padding: 0 12px;

    &:first-child {
      border: {
        top-left-radius: $border-radius;
        bottom-left-radius: $border-radius;
      }
    }

    &:last-child {
      border: {
        top-right-radius: $border-radius;
        bottom-right-radius: $border-radius;
      }
    }

    .label {
      color: var(--md-sys-color-on-surface);
    }

    .material-icons {
      font-size: 18px;
      margin-right: 8px;
    }

    &:disabled {
      outline-color: var(--md-sys-color-on-surface-opacity-12);
      cursor: default;

      .label,
      .material-icons {
        opacity: 0.38;
      }
    }

    &.selected {
      background-color: var(--md-sys-color-secondary-container);
      color: var(--md-sys-color-on-secondary-container);
    }
  }
}
