:root {
  --mm-ref-palette-primary-100: #ffffff;
  --mm-ref-palette-primary-99: #fdfbff;
  --mm-ref-palette-primary-95: #eff0ff;
  --mm-ref-palette-primary-90: #dbe1ff;
  --mm-ref-palette-primary-80: #b5c4ff;
  --mm-ref-palette-primary-70: #91a7fd;
  --mm-ref-palette-primary-60: #768ce0;
  --mm-ref-palette-primary-50: #5c72c4;
  --mm-ref-palette-primary-40: #4259a9;
  --mm-ref-palette-primary-30: #284190;
  --mm-ref-palette-primary-20: #0a2979;
  --mm-ref-palette-primary-10: #001453;
  --mm-ref-palette-primary-0: #000000;
  --mm-ref-palette-secondary-100: #ffffff;
  --mm-ref-palette-secondary-99: #fdfbff;
  --mm-ref-palette-secondary-95: #eff0ff;
  --mm-ref-palette-secondary-90: #dee1f9;
  --mm-ref-palette-secondary-80: #c2c5dd;
  --mm-ref-palette-secondary-70: #a6aac1;
  --mm-ref-palette-secondary-60: #8c90a6;
  --mm-ref-palette-secondary-50: #72768b;
  --mm-ref-palette-secondary-40: #595d71;
  --mm-ref-palette-secondary-30: #424659;
  --mm-ref-palette-secondary-20: #2b2f42;
  --mm-ref-palette-secondary-10: #161b2c;
  --mm-ref-palette-secondary-0: #000000;
  --mm-ref-palette-tertiary-100: #ffffff;
  --mm-ref-palette-tertiary-99: #fcfcfc;
  --mm-ref-palette-tertiary-95: #ffebf9;
  --mm-ref-palette-tertiary-90: #ffd7f7;
  --mm-ref-palette-tertiary-80: #e3bbda;
  --mm-ref-palette-tertiary-70: #c69fbe;
  --mm-ref-palette-tertiary-60: #ab85a3;
  --mm-ref-palette-tertiary-50: #906c89;
  --mm-ref-palette-tertiary-40: #75546f;
  --mm-ref-palette-tertiary-30: #5c3d57;
  --mm-ref-palette-tertiary-20: #43273f;
  --mm-ref-palette-tertiary-10: #2b1229;
  --mm-ref-palette-tertiary-0: #000000;
  --mm-ref-palette-neutral-100: #ffffff;
  --mm-ref-palette-neutral-99: #fefbff;
  --mm-ref-palette-neutral-95: #f3f0f5;
  --mm-ref-palette-neutral-90: #e4e2e6;
  --mm-ref-palette-neutral-80: #c7c5ca;
  --mm-ref-palette-neutral-70: #acaaae;
  --mm-ref-palette-neutral-60: #919094;
  --mm-ref-palette-neutral-50: #77767a;
  --mm-ref-palette-neutral-40: #5e5e62;
  --mm-ref-palette-neutral-30: #46464a;
  --mm-ref-palette-neutral-20: #303033;
  --mm-ref-palette-neutral-10: #1b1b1f;
  --mm-ref-palette-neutral-0: #000000;
  --mm-ref-palette-neutral-variant-100: #ffffff;
  --mm-ref-palette-neutral-variant-99: #fdfbff;
  --mm-ref-palette-neutral-variant-95: #f1f0fb;
  --mm-ref-palette-neutral-variant-90: #e2e1ec;
  --mm-ref-palette-neutral-variant-80: #c6c6d0;
  --mm-ref-palette-neutral-variant-70: #aaaab4;
  --mm-ref-palette-neutral-variant-60: #909099;
  --mm-ref-palette-neutral-variant-50: #76767f;
  --mm-ref-palette-neutral-variant-40: #5d5e67;
  --mm-ref-palette-neutral-variant-30: #45464e;
  --mm-ref-palette-neutral-variant-20: #2f3038;
  --mm-ref-palette-neutral-variant-10: #1a1b23;
  --mm-ref-palette-neutral-variant-0: #000000;
  --mm-ref-palette-error-100: #ffffff;
  --mm-ref-palette-error-99: #fcfcfc;
  --mm-ref-palette-error-95: #ffede9;
  --mm-ref-palette-error-90: #ffdad4;
  --mm-ref-palette-error-80: #ffb4a9;
  --mm-ref-palette-error-70: #ff897a;
  --mm-ref-palette-error-60: #ff5449;
  --mm-ref-palette-error-50: #dd3730;
  --mm-ref-palette-error-40: #ba1b1b;
  --mm-ref-palette-error-30: #930006;
  --mm-ref-palette-error-20: #680003;
  --mm-ref-palette-error-10: #410001;
  --mm-ref-palette-error-0: #000000;

  --mm-ref-typeface-brand: Roboto, sans-serif;
  --mm-ref-typeface-plain: Roboto, sans-serif;
  --mm-ref-typeface-weight-regular: 400;
  --mm-ref-typeface-weight-medium: 500;
}
