<mat-toolbar class="mat-elevation-z4" color="primary">
  <span>Add Players</span>
</mat-toolbar>

<div class="body-container">
  <div class="content-container">
    <mm-players-list
      [players]="players$ | async"
      [playerNames]="playerNames$ | async"
      (addPlayer)="onAddPlayer($event)"
    ></mm-players-list>
  </div>

  <mm-setup-side-sheet
    #sideSheet
    [mode]="(isMobile$ | async) ? 'modal' : 'standard'"
    [recommendedTotalRounds]="recommendedTotalRounds$ | async"
  ></mm-setup-side-sheet>
</div>

<button
  mat-raised-button
  class="start-fab"
  color="primary"
  *ngIf="isMobile$ | async"
  (click)="sideSheet.open()"
>
  <mat-icon>done</mat-icon>Start
</button>

<!-- <mat-sidenav-container>
  <mm-players-list [players]="players$ | async"></mm-players-list>
  <mat-sidenav
    position="end"
    #sidenav
    [fixedInViewport]="sheetFixed"
    [mode]="sheetMode"
    [opened]="sheetOpened"
  >
    <mm-start-event-form
      [recommendedTotalRounds]="recommendedTotalRounds$ | async"
    ></mm-start-event-form>
  </mat-sidenav>

  <button
    mat-raised-button
    class="start-fab"
    color="primary"
    *ngIf="!sheetOpened"
    (click)="sidenav.toggle()"
  >
    <mat-icon>done</mat-icon>Start
  </button>
</mat-sidenav-container> -->
