<!-- <div class="items-center flex-col flex h-full w-full flex-wrap">
  <mm-player-form
    class="p-4 w-full sm:w-1/2"
    [players]="players$ | async"
    (addPlayer)="onAddPlayer($event)"
  ></mm-player-form>
  <mm-players-list
    class="border-right flex-1 overflow-auto pb-3 px-4 players-list w-full sm:w-1/2"
    [players]="players$ | async"
    (editPlayer)="onEditPlayer($event)"
  ></mm-players-list>
  <section
    class="flex justify-center mb-4 sm:order-3"
    *ngIf="canBeginTournament$ | async"
  >
    <button
      class="text-uppercase"
      mat-raised-button
      color="primary"
      *ngIf="!hasAnythingStarted"
      (click)="onStartClicked()"
    >
      Start
    </button>
  </section>
</div> -->
<div class="content-container">
  <mm-players-list [players]="players$ | async"></mm-players-list>
</div>

<footer class="mat-elevation-8">
  <button mat-icon-button>
    <mat-icon>delete</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>done</mat-icon>
  </button>
  <button mat-mini-fab color="accent" class="fab">
    <mat-icon>add</mat-icon>
  </button>
</footer>
