// @import '@angular/material/theming';
@use '@angular/material' as mat;
@import 'themes/theme';
// .players-list {
//   @media (min-width: 600px) {
//     flex: 1 100%;
//   }
// }

$primary: map-get($mirror-match-theme, primary);

:host {
  display: flex;
  flex-direction: column;

  .content-container {
    margin-bottom: 56px;
    min-height: 0;
  }

  footer {
    align-items: center;
    color: mat.get-color-from-palette($primary, default-contrast);
    background: mat.get-color-from-palette($primary);
    bottom: 0;
    display: flex;
    flex-direction: row;
    min-height: 56px;
    padding: 0 16px;
    position: fixed;
    width: 100%;
    white-space: nowrap;

    .fab {
      position: fixed;
      left: 50%;
      bottom: 56px;
      transform: translate(-50%, 50%);
    }

    .spacer {
      flex: 1 1 auto;
    }
  }
}
