:host {
  display: block;
  padding: 1rem;
}

.card-container {
  display: flex;
  flex-direction: row;

  mat-card {
    width: 50%;

    &:nth-of-type(odd) {
      margin-right: 0.5rem;
    }

    &:nth-of-type(even) {
      margin-left: 0.5rem;
    }
  }
}
