.mm-app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  height: 100%;
  display: flex;

  .mm-app-main {
    flex: 1;
  }

  .mm-nav-text {
    padding-left: 16px;
  }

  .mm-sidenav {
    .mat-list-base {
      padding-left: 8px;
      padding-right: 8px;

      .mat-list-item {
        .mat-list-item-content {
          padding: 0 8px;
        }
      }

      .mat-list-item-active {
        border-radius: 5px;
      }
    }
  }

  mat-sidenav-container {
    flex: 1;
  }

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
}
