<mm-layout-header></mm-layout-header>

<router-outlet></router-outlet>

<mm-layout-footer></mm-layout-footer>

<!--
<nav class="navbar navbar-default">

</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" routerLink="/players" routerLinkActive="active"><a>Players</a></li>
        <li role="presentation" routerLinkActive="active"><a>Rounds</a></li>
        <li role="presentation" routerLinkActive="active"><a>Standings</a></li>
      </ul>
    </div>

    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
-->
