@import '../../../../custom-theme.scss';

$background: map-get($mirror-match-theme, background);

:host {
  background: mat-color($background, background);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 24;
}
