:host {
  display: block;
  overflow: auto;
  padding: 0.5rem 0.5rem 1rem;
  width: 100%;

  .accordion-container {
    padding-top: 0.5rem;
  }

  .card-container {
    display: flex;
    flex-flow: row wrap;

    .card-wrapper {
      flex: 1 50%;
      padding: 0.5rem 0.5rem;
    }
  }
}
