:host {
  display: flex;
  flex-direction: column;
  margin: 16px;

  form {
    display: flex;
    flex-direction: column;

    mat-slide-toggle {
      margin-bottom: 24px;
    }

    .add-button {
      text-transform: uppercase;
      width: 100%;
    }
  }
}
