:host {
  position: absolute;
  right: 1rem;
  bottom: 1rem;

  .fab-button {
    border-radius: 1.5rem;
    text-transform: uppercase;
  }
}

:host(.bottom-center) {
  right: 50%;
  transform: translateX(50%);
}

:host(.top-left) {
  bottom: unset;
  left: 1rem;
  transform: translateY(-50%);
  z-index: 3;
}
