@mixin sizing-classes($prefix) {
  .#{$prefix}h-full { height: 100%; }

  .#{$prefix}w-full { width: 100%; }
  .#{$prefix}w-1\/2 { width: 50%; }
}

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
