<div class="flex flex-col fullscreen mat-typography">
  <mm-toolbar
    class="mat-elevation-z5 toolbar"
    [header]="toolbarHeader"
    (toggleSidenav)="sidenav.toggle()"
  ></mm-toolbar>
  <mat-sidenav-container class="flex-1">
    <mat-sidenav
      #sidenav
      class="mm-sidenav"
      [mode]="sidenavMode$ | async"
      [opened]="showSidenav$ | async"
    >
      <mat-nav-list class="px-2">
        <mm-nav-item icon="build" routerLink="/setup">
          Setup
        </mm-nav-item>
        <mm-nav-item
          icon="group_work"
          routerLink="/pods"
          *ngIf="hasDraftStarted$ | async"
        >
          Pods
        </mm-nav-item>
        <mm-nav-item icon="group" routerLink="/pairings">
          Pairings
        </mm-nav-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
