<div class="mm-layout mat-typography">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>{{pageHeader}}</h1>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="mm-sidenav" [mode]="isMobile ? 'over' : 'side'"
      [opened]="showSidenav$ | async">
      <h2>Mirror Match</h2>
      <mat-divider></mat-divider>
      <mat-nav-list class="mm-nav-list">
        <a mat-list-item routerLink="/setup" routerLinkActive="mat-list-item-active">
          <mat-icon matListIcon>build</mat-icon>
          <span class="mm-nav-text">Setup</span>
        </a>
        <a mat-list-item routerLink="/pods" routerLinkActive="mat-list-item-active">
          <mat-icon matListIcon>group_work</mat-icon>
          <span class="mm-nav-text">Pods</span>
        </a>
        <a mat-list-item routerLink="/pairings" routerLinkActive="mat-list-item-active">
          <mat-icon matListIcon>group</mat-icon>
          <span class="mm-nav-text">Pairings</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
