@use '@angular/material' as mat;
@import 'themes/color';

$primary: map-get($mirror-match-color, 'primary');

:host {
  color: mat.get-color-from-palette($primary, 'text');

  .icon {
    color: inherit;
  }
}
