@use '~@angular/material' as mat;

@mixin mm-sidenav-theme($theme) {
  $primary: map-get($theme, primary);

  .mm-sidenav {
    .mat-list-base {
      .mat-list-item-active {
        background: mat.get-color-from-palette($mirror-match-primary, 0.12);
        color: mat.get-color-from-palette($mirror-match-primary);
      }
    }
  }
}
