@import '~@angular/material/theming';

@mixin mm-sidenav-theme($theme) {
  $primary: map-get($theme, primary);

  .mm-sidenav {
    .mat-list-base {
      .mat-list-item-active {
        background: mat-color($mirror-match-primary, 0.12);
        color: mat-color($mirror-match-primary);
      }
    }
  }
}
