@use '@angular/material' as mat;

@mixin players-list-color($config_or_theme) {
  $config: mat-get-color-config($config_or_theme);
  $foreground: map-get($config, foreground);

  .players-list {
    .dropped-label {
      color: mat.get-color-from-palette($foreground, secondary-text);
    }
  }
}

@mixin players-list-theme($theme) {
  $color: mat-get-color-config($theme);

  @if $color != null {
    @include players-list-color($color);
  }
}
