@import '~@angular/material/theming';

@mixin body-margins($margin-height) {
  margin-top: $margin-height;
  margin-bottom: $margin-height;
}

@mixin fixed-toolbar() {
  position: fixed;
  width: 100%;
}

.footer {
  @include fixed-toolbar();
  bottom: 0;
  z-index: 8;
}

.header {
  @include fixed-toolbar();
  top: 0;
  z-index: 4;
}

.players-list {
  @include body-margins($mat-toolbar-height-desktop);

  @media ($mat-xsmall) {
    @include body-margins($mat-toolbar-height-mobile);
  }
}
