@import 'theme-setup.scss';

$background: map-get($mirror-match-theme, background);
$foreground: map-get($mirror-match-theme, foreground);

:host {
  display: block;
  top: 0;
  bottom: 0;
  min-width: 320px;

  .mm-drawer {
    position: fixed;
    height: 100%;
    width: 320px;
    background-color: mat-color($background, dialog);
    border-left: solid 1px mat-color($foreground, divider);
    padding-top: 56px;
  }

  :host-context(.large-toolbar) .drawer {
    padding-top: 64px;
  }
}

:host(.mm-side-sheet--modal) {
  min-width: unset;

  .mm-drawer {
    display: none;
    right: 0;
    padding-top: unset;
    z-index: 3;

    &.mm-drawer--opened {
      display: block;
    }
  }
}
