:host {
  display: block;
  top: 0;
  bottom: 0;
  min-width: 320px;

  .drawer {
    position: fixed;
    height: 100%;
    width: 320px;

    padding-top: 56px;

    @media (min-width: 600px) {
      padding-top: 64px;
    }
  }
}
