@import 'theme-setup.scss';

$background: map-get($mirror-match-theme, background);
$foreground: map-get($mirror-match-theme, foreground);

:host {
  display: block;
  top: 0;
  bottom: 0;
  min-width: 320px;
  touch-action: none;

  .mm-drawer {
    position: fixed;
    height: 100%;
    width: 320px;
    background-color: mat-color($background, dialog);
    border-left: solid 1px mat-color($foreground, divider);
    padding-top: 56px;
  }

  .mm-scrim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
  }

  :host-context(.large-toolbar) .drawer {
    padding-top: 64px;
  }
}

:host(.mm-side-sheet--modal) {
  min-width: unset;

  .mm-drawer {
    display: none;
    right: 0;
    padding-top: unset;
    z-index: 16;

    &.mm-drawer--opened {
      display: block;

      & + .mm-scrim {
        display: block;
      }
    }
  }

  .mm-scrim {
    background-color: rgba(0, 0, 0, 0.32);
  }
}
