<form [formGroup]="playerGroup" (ngSubmit)="submit()" novalidate>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input
      id="add-player-input"
      matInput
      type="text"
      autocomplete="off"
      required
      formControlName="name"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      type="reset"
      aria-label="Clear"
      *ngIf="playerGroup.get('name').dirty"
      (click)="clear()"
    >
      <mat-icon>clear</mat-icon>
    </button>
    <mat-error *ngIf="playerGroup.get('name').invalid">
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
  <mat-slide-toggle *ngIf="editPlayer" color="warn" formControlName="dropped"
    >Dropped</mat-slide-toggle
  >
  <span>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="add-button"
      [disabled]="playerGroup.invalid"
    >
      {{ editPlayer ? 'Save' : 'Add' }}
    </button>
  </span>
</form>
