<mm-players-list-item
  *ngFor="let player of players"
  [player]="player"
  [playerNames]="playerNames"
  [selected]="player.id === selectedPlayerId"
  (cancel)="selectedPlayerId = null"
  (changePlayer)="onChangePlayer($event)"
  (click)="selectPlayer(player.id)"
  (deletePlayer)="onDeletePlayer(player.id)"
  (error)="error.emit($event)"
></mm-players-list-item>
<mm-new-player-list-item
  *ngIf="isAdding"
  [playerNames]="playerNames"
  (cancel)="isAdding = false"
  (createPlayer)="createPlayer.emit($event)"
  (error)="error.emit($event)"
></mm-new-player-list-item>
