<mm-pairings-menu
  [numberOfRounds]="numberOfRounds$ | async"
  [rounds]="rounds$ | async"
  [selectedRound]="selectedRound$ | async"
  (createPairings)="createPairings($event)"
  (roundChanged)="roundChanged($event)"></mm-pairings-menu>
<mm-pairings-list
  [pairings]="pairings$ | async"
  (lastResultSubmitted)="onLastResultSubmitted()"
  (matchResultsCleared)="onMatchResultsCleared($event)"
  (playerDroppedChanged)="onPlayerDroppedChanged($event)"
  (redoMatchesForRound)="onRedoMatchesForRound()"
  (resultSubmitted)="onResultSubmitted($event)"></mm-pairings-list>
