<mm-pairings-menu
  [numberOfRounds]="numberOfRounds$ | async"
  [pairingsExist]="pairingsExist$ | async"
  [roundIds]="roundIds$ | async"
  [selectedRoundId]="selectedRoundId$ | async"
  (createPairings)="createPairings($event)"
  (roundChanged)="roundChanged($event)">
</mm-pairings-menu>
<mm-pairings-list
  [hasSubmittedPairings]="hasSubmittedPairings$ | async"
  [pairings]="pairings$ | async"
  [pairingsExist]="pairingsExist$ | async"
  [playerEntities]="playerEntities$ | async"
  [selectedPairing]="selectedPairing$ | async"
  [selectedRoundComplete]="selectedRoundComplete$ | async"
  [selectedRoundId]="selectedRoundId$ | async"
  (deleteResults)="deleteResults($event)"
  (redoMatches)="redoMatches($event)"
  (selectPairing)="selectPairing($event)">
</mm-pairings-list>
<mm-match-results
  [playerEntities]="playerEntities$ | async"
  [selectedPairing]="selectedPairing$ | async"
  [selectedRoundComplete]="selectedRoundComplete$ | async"
  (clearMatchResult)="clearMatchResult($event)"
  (dropPlayers)="dropPlayers($event)"
  (submitResult)="submitResult($event)">
</mm-match-results>
