<div class="row">
  <div class="col-sm-6">
    <mm-swiss-player-form
      [hasBegunTournament]="hasBegunTournament$ | async"
      [isTournamentOver]="isTournamentOver$ | async"
      [selectedPlayer]="selectedPlayer$ | async"
      (addPlayer)="addPlayer($event)"
      (playerFormReset)="clearSelectedPlayer()"
      (updatePlayerName)="updatePlayerName($event)"></mm-swiss-player-form>
    <mm-swiss-players-start
      [canBeginTournament]="canBeginTournament$ | async"
      [hasBegunTournament]="hasBegunTournament$ | async"
      [recommendedNumberOfRounds]="recommendedNumberOfRounds$ | async"
      (startTournament)="onStartTournament($event)"></mm-swiss-players-start>
  </div>

  <div class="col-sm-6">
    <mm-swiss-player-list
      [hasBegunTournament]="hasBegunTournament$ | async"
      [players]="players$ | async"
      [selectedPlayer]="selectedPlayer$ | async"
      (playerDeleted)="onPlayerDeleted($event)"
      (playerSelected)="selectPlayer($event)"></mm-swiss-player-list>
  </div>
</div>
