.mm-radio-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;

  .mm-radio-button {
    margin: 0 0.5rem 1rem;
  }
}

button {
  text-transform: uppercase;
}

section {
  margin-bottom: 0.5rem;
}
