@import '~@angular/material/theming';
@import 'abstracts/variables';

@mixin fab-bottom($toolbar-height) {
  bottom: $toolbar-height - ($mat-fab-size / 2);
}

.fab {
  position: fixed;
  left: calc(50% - (#{$mat-fab-size} / 2));

  @include fab-bottom($mat-toolbar-height-desktop);

  @media ($mat-xsmall) {
    @include fab-bottom($mat-toolbar-height-mobile);
  }
}

.spacer {
  flex: 1 1;
}
