$fab-spacing: 16px;
$toolbar-height-desktop: 64px;
$toolbar-height-mobile: 56px;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-toolbar {
    flex: 0 0 auto;
    z-index: 4;

    .spacer {
      flex: 1 1 auto;
    }
  }

  .add-button {
    position: fixed;
    bottom: $toolbar-height-desktop + $fab-spacing;
    right: 50%;
    transform: translateX(50%);

    &.mini {
      bottom: $toolbar-height-mobile + $fab-spacing;
    }
  }

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;

    .no-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .no-content-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
    }
  }
}
