<div class="container" [class.xsmall]="isXSmallDisplay$ | async">
  <div class="no-content">
    <h1>No players</h1>
    <h3>Add players and they will appear here.</h3>
  </div>
</div>

<button
  mat-mini-fab
  *ngIf="useMiniFab$ | async"
  class="add-button mini"
  (click)="addPlayerClicked()"
>
  <mat-icon>add</mat-icon>
</button>

<button
  mat-fab
  *ngIf="!(useMiniFab$ | async)"
  class="add-button"
  (click)="addPlayerClicked()"
>
  <mat-icon>add</mat-icon>
</button>

<!-- <mm-bottom-sheet [show]="isAddingPlayer" (close)="isAddingPlayer = false">
  <mm-add-player-form [playerNames]="playerNames$ | async" (addPlayer)="onAddPlayer($event)"></mm-add-player-form>
</mm-bottom-sheet> -->
