<mm-players-toolbar (searched)=onSearch($event)></mm-players-toolbar>
<div class="container">
  <div class="no-content-container" *ngIf="!(hasPlayers$ | async)">
    <div class="no-content">
      <h1>No players</h1>
      <h3>Add players and they will appear here.</h3>
    </div>
  </div>
  <mm-players-list
    *ngIf="hasPlayers$ | async"
    [players]="players$ | async"
    (playerClicked)="editPlayer($event)"
  ></mm-players-list>
</div>

<button
  mat-mini-fab
  *ngIf="useMiniFab$ | async"
  class="add-button"
  (click)="addPlayerClicked()"
>
  <mat-icon>add</mat-icon>
</button>

<button
  mat-fab
  *ngIf="!(useMiniFab$ | async)"
  class="add-button"
  (click)="addPlayerClicked()"
>
  <mat-icon>add</mat-icon>
</button>
